@{
    ViewData["Title"] = "Guild - Cadastro";
    Layout = "~/Views/Shared/_Cadastro.cshtml";
}

@model Guild

<form asp-action="Create" asp-controller="Guild" id="CadastroGuild" method="post">
    <div>
        @* Cadastro da Guild *@
        <label>Nome da Guild:</label>
        <input type="text" asp-for="NomeGuild" class="form-control" id="NomeGuild" />

        <br>

        <label>Descrição da Guild:</label>
        <textarea asp-for="DescricaoGuild" class="form-control" id="DescricaoGuild"></textarea>

        <br>

        <button type="submit" id="ConfirmarCadastroGuild" class="btn btn-dark">Cadastrar</button>
    </div>
</form>