@{
    ViewData["Title"] = "Home Page";
    ViewData["Layout"] = "_Layout";
}

@model Personagem

<form>
    <div>
        @* Personagem *@
        <label>Nome</label>
        <input type="text" asp-for="NomePersonagem" id="Nome" />

        <br>

        <label>Level</label>
        <input type="text" asp-for="LevelPersonagem" id="Level" />

        <br>

        <label>Experiência</label>
        <input type="text" asp-for="ExpPersonagem" id="Exp" />

        <br>

        <label></label>
        <select></select>

        <br>

        <label></label>
        <select></select>

        <br>

        <label></label>
        <select></select>

        <br>

        <label></label>
        <select></select>

        <br>

        <label></label>
        <select></select>

        <br>

        @* Main Status *@
        <label>HP</label>
        <input type="text" id="Hp" />

        <br>

        <label>MP</label>
        <input type="text" id="Mp" />

        <br>

        <label>DMGF</label>
        <input type="text" id="Dmgf" />

        <br>

        <label>DMGM</label>
        <input type="text" id="Dmgm" />

        <br>

        <label>DEF</label>
        <input type="text" id="Def" />

        <br>

        <label>FUR</label>
        <input type="text" id="Fur" />

        <br>

        <label>DET</label>
        <input type="text" id="Det" />

        <br>

        <label>CRIT</label>
        <input type="text" id="Crit" />

        <br>

        <label>ACR</label>
        <input type="text" id="Acr" />
    </div>
</form>