@{
    ViewData["Title"] = "Home Page";
}

<form>
    <div>
        @* Personagem *@
        <label></label>
        <input type="text" id="Nome" />

        <label></label>
        <input type="text" id="Level" />

        <label></label>
        <select></select>

        <label></label>
        <select></select>

        <label></label>
        <select></select>

        <label></label>
        <select></select>

        <label></label>
        <select></select>

        @* Main Status *@
        <label>HP</label>
        <input type="text" id="Hp" />

        <label>MP</label>
        <input type="text" id="Mp" />

        <label>DMGF</label>
        <input type="text" id="Dmgf" />

        <label>DMGM</label>
        <input type="text" id="Dmgm" />

        <label>DEF</label>
        <input type="text" id="Def" />

        <label>FUR</label>
        <input type="text" id="Fur" />

        <label>DET</label>
        <input type="text" id="Det" />

        <label>CRIT</label>
        <input type="text" id="Crit" />

        <label>ACR</label>
        <input type="text" id="Acr" />
    </div>
</form>